body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#ffffff;
}


.slider{
    -webkit-appearance:none;    
    width: 280px;
    height:15px;
    outline:none;
    border-radius: 3px;
    background-color:#f2f2f2;
    outline:none;
    border-radius: 25px;
    *box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb{
    height: 20px;
    width: 24px;
}


.input{
    width: 120px;
    height: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    margin-top: 15px;
}

.unit-container{
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.label{
    font-size: 20px;
    padding: none;
}

#total-score{
    padding-top: 0px;
    font-size: 29px;
}


