body {
    font-family: "Roboto", sans-serif;
    background-color: #ddbebe;
  }
  
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px;
}
  
  h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  

#soldiers {
  width: 180px;
}

#tanks {
  width: 180px;
}

#planes {
  width: 180px;
}

#ships {
  width: 180px;
}



#soldiers-input {
    width: 100px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}
  
#tanks-input {
    width: 100px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

#planes-input {
    width: 100px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

#ships-input {
    width: 100px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}


.unit{
    padding: 6px;
    align;
}
  

#total-score {
    font-size: 18px;
    margin-top: 40px;
  }